
.bg_image{
    background-image: url("../../../public/hamedtaha-YmBgW57IPtk-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.form_input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}
.bg_color{
    background-color: #FFD43B;
    color: white;
}
.text_color{
    color: #FFD43B;
}