
.bg_image{
    background-image: url("../../../public/10607573.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.form_input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}
